<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>News Feed--Follow
      <a href="https://exacerboom.com/users">users</a> 
      to populate</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

<div class="hero-unit">
  <h1>What has influenced you today?</h1>
  <h2>A personalized feed of articles and content your friends and influencers have recommended</h2>
  <p>
    <center>
      <%= link_to "Sign up now!", signup_path, 
                                      class: "btn btn-large btn-primary" %>
    </center>
  </p>
</div>

<div class="row">
  <div class="span4">
    <div class="center hero-unit"> 
    <P>
      Share the links that impacted you and your thoughts today.
    </p>
    </div>  
  </div>

  <div class="span4">
    <div class="center hero-unit"> 
    <P>
      Follow your friends and influencers to see the content and ideas at the front of their minds.
    </p> 
    </div>
  </div>
  
  <div class="span4">
    <div class="center hero-unit"> 
    <P>
      Scroll through your homepage for a feed of socially recommended online content.
    </p> 
    </div>
  </div>
  </div>

<% end %>